<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../public/assets/css/style.css" type="text/css"/>
		<title>Eat Da Burger</title>
	</head>
	<body>
	<img src="../public/assets/img/burger.png">
		{{{ body }}}
	</body>
</HTML>